<section class="benefits-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="benefits-thumb animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="{{ asset('static/front/images/benefits-thumb.png') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="benefits-content">
                    <span>Our Benefits & Options</span>
                    <h3 class="title">Discover Lixuro App Features</h3>
                    <div class="benefits-service d-sm-flex d-block">
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('static/front/images/benefits-1.png') }}" alt="">
                            </div>
                            <span>Responsive <br> Design</span>
                        </div>
                        <div class="item ml-45">
                            <div class="icon">
                                <img src="{{ asset('static/front/images/benefits-2.png') }}" alt="">
                            </div>
                            <span>Responsive <br> Design</span>
                        </div>
                    </div>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem Ipsum is simply dummy text of the printing laborum perspiciatis unde.</p>
                    <a class="main-btn main-btn-3" href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits-line">
        <img src="{{ asset('static/front/images/benefits-line.png') }}" alt="">
    </div>
</section>