<section class="counter-area bg_cover" style="background-image: url({{ asset('static/front/images/counter-bg.png') }});">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mt-30">
                    <h3 class="title count">4789</h3>
                    <span>Downloads</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mt-30">
                    <h3 class="title count">6400</h3>
                    <span>Likes</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mt-30">
                    <h3 class="title count">900</h3>
                    <span>5 Star Rating</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mt-30">
                    <h3 class="title count">266</h3>
                    <span>Awards</span>
                </div>
            </div>
        </div>
    </div>
</section>