<section class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-content">
                    <span>Frequently Asked Questions</span>
                    <h3 class="title">Do You’ve Any Questions?</h3>
                    <p>There are many variations of passages of available but majority have alteration in some by inject. </p>
                    <img src="{{ asset('static/front/images/faq-thumb.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="faq-accordion wow fadeInRight" data-wow-duration="1500ms">
                    <div class="accrodion-grp wow fadeIn" data-wow-duration="1500ms" data-grp-name="faq-accrodion">
                        <div class="accrodion active ">
                            <div class="accrodion-inner">
                                <div class="accrodion-title">
                                    <h4>Pre and post launch mobile app marketing pitfalls to avoid</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div><!-- /.accrodion-inner -->
                        </div>
                        <div class="accrodion  ">
                            <div class="accrodion-inner">
                                <div class="accrodion-title">
                                    <h4>launch mobile app Pre and post marketing pitfalls to avoid</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div><!-- /.accrodion-inner -->
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-inner">
                                <div class="accrodion-title">
                                    <h4>avoid Pre and post launch mobile app marketing pitfalls to </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div><!-- /.accrodion-inner -->
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-inner">
                                <div class="accrodion-title">
                                    <h4>marketing pitfalls to avoid Pre and post launch mobile app </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div><!-- /.accrodion-inner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-line">
        <img src="{{ asset('static/front/images/faq-line.png') }}" alt="">
    </div>
</section>