<header id="home" class="header-area header-v1-area">
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <a class="navbar-brand" href="index.html"><img src="{{ asset('static/front/images/logo.png') }}" alt=""></a> <!-- logo -->
                            <span class="side-menu__toggler canvas_open"><i class="fa fa-bars"></i></span><!-- /.side-menu__toggler -->

                            <div class="collapse navbar-collapse sub-menu-bar main-nav__main-navigation" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto main-nav__navigation-box">
                                    <li class="nav-item active">
                                        <a class="nav-link page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link page-scroll" href="#features">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link page-scroll" href="#testimonials">Testimonials</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link page-scroll" href="#screens">Screens</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link page-scroll" href="#news">News</a>
                                        <ul class="sub-menu dropdown-btn">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="single-blog.html">Single Blog</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="navbar-btn d-none d-sm-flex">
                                <a class="main-btn main-btn-2" href="#">Register Now</a>
                            </div>
                        </nav>
                    </div> <!-- navigation -->
                </div>
            </div>
        </div>
    </div>
</header>