<section class="hero-area bg_cover d-flex align-items-center" style="background-image: url({{ asset('static/front/images/hero-bg.png') }});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="hero-content">
                    <h1 class="title">Best Landing Pages For Startups</h1>
                    <p>Nulla facilisi. Proin felis neque, suscipit egestas erat a tincidunt finibus magna consectetur lacus.</p>
                    <a class="main-btn" href="#">Download Our App</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-thumb text-right">
                    <img src="{{ asset('static/front/images/hero-thumb-1.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-line">
        <img src="{{ asset('static/front/images/hero-line.png') }}" alt="">
    </div>
</section>