<section id="news" class="news-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span>From the Blog Posts</span>
                    <h3 class="title">News & Articles</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <div class="news-thumb">
                        <img src="{{ asset('static/front/images/news-1.jpg') }}" alt="">
                        <div class="date">
                            <span>20 May, 2020</span>
                        </div>
                    </div>
                    <div class="news-content">
                        <ul>
                            <li><i class="fal fa-user-circle"></i> by Admin</li>
                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                        </ul>
                        <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                        <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                        <a href="single-blog.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="news-thumb">
                        <img src="{{ asset('static/front/images/news-2.jpg') }}" alt="">
                        <div class="date">
                            <span>20 May, 2020</span>
                        </div>
                    </div>
                    <div class="news-content">
                        <ul>
                            <li><i class="fal fa-user-circle"></i> by Admin</li>
                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                        </ul>
                        <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                        <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                        <a href="single-blog.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="news-thumb">
                        <img src="{{ asset('static/front/images/news-3.jpg') }}" alt="">
                        <div class="date">
                            <span>20 May, 2020</span>
                        </div>
                    </div>
                    <div class="news-content">
                        <ul>
                            <li><i class="fal fa-user-circle"></i> by Admin</li>
                            <li><i class="fal fa-comments"></i> 3 Comments</li>
                        </ul>
                        <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                        <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                        <a href="single-blog.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news-shape">
        <img src="{{ asset('static/front/images/news-shape.svg') }}" alt="">
    </div>
</section>