<section class="tools-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tools-content">
                    <span>App New Features</span>
                    <h3 class="title">Powerful Tools For Your Customers</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum lorem ipsum is simply free.</p>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Refresing to get such a personal touch. </li>
                        <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate. </li>
                        <li><i class="fas fa-check-circle"></i> Velit esse cillum dolore eu fugiat nulla pariatur. </li>
                    </ul>
                    <a class="main-btn main-btn-3" href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools-thumbs animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="{{ asset('static/front/images/tools-thumb.png') }}" alt="">
                    <div class="tool-line">
                        <img src="{{ asset('static/front/images/tools-line.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>