<div class="video-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-item">
                    <img src="{{ asset('static/front/images/video-thumb.jpg') }}" alt="">
                    <div class="video-content">
                        <a href="https://www.youtube.com/watch?v=I09TqFvNgeg" class="video-popup"><i class="fas fa-play"></i></a>
                        <h3 class="title">Watch Our Video</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>